.dashboard-content{
    display: flex;
    flex-direction: row;
}

table {
    width: 180%;
    margin-left: -10px;
    text-align: center;
}
  
th {
    height: 70px;
    text-align: center;
}

.title {
    margin-left: 440px;
}