.dashboard-content{
    display: flex;
    flex-direction: row;
}

table {
    width: 110%;
    text-align: center;
    margin-right: 400px;
}
  
th {
    height: 70px;
    text-align: center;
}

.title {
    margin-left: 340px;
}