.dashboard-content{
    display: flex;
    flex-direction: row;
}

.main-content{
    margin-left: 10px;
    size: 100px;
}

.main-content.h2 {
    margin-left: 10px;
    size: 100px;
}

table {
    width: 200%;
    text-align: center;
}
  
th {
    height: 70px;
    text-align: center;
}
